body {
    display:flex;
    flex-direction: column;
    background-color: #1F2937;
}



.header {
    background-color: #1f2937;
    display:flex;
    flex:1;
    padding:16px;
    width:auto;
    justify-content: flex-end;
    align-items: center;
 
   

}

a {
    text-decoration: none;
    padding:10px;
    font-size: 18px;;
    color: #E5E7EB;
    margin-right: 200px;
   

}

.logo {
    margin-right:auto;
    font-size: 24px;
    margin-left:200px;
}

.leftCenter {
    display:flex;
    flex-direction: column;
    font-size: 18px;
    color:#f9faf8;
    max-width: 400px;
    margin-left: 50px;
    flex-wrap:wrap ;

}

.bigText {
    font-size: 48px;
    color:#F9FAF8;
    font-weight:bolder;

}

button {
    background-color:#3882f6;
    width:120px;
    color:white;
    border-radius:8px ;
    height:40px;
    margin-top: 10px;
}

.center {
    display:flex;
    margin-top: 120px;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    gap:25px;
}

img {
    max-width: 400px;

}

.infoHeader {
    font-size: 36px;
    color:#1f2937;
    font-weight: bolder;
    display:flex;
    justify-content: center;
    background-color: white;
    margin-top:120px;

}

.imgRow {
    display:flex;
    background-color: white;
    justify-content: center;
    
}


.imgRow img {
    border:2px solid blue;
    border-radius: 7px;
    margin:25px;
    width: 100px;
}